.main {
    max-width: 1240px;
    margin: 0 auto;
}

.wrapperProfile {
    margin-top: 120px;
    margin-left: 0;
    width: 860px;
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;

}

.wrappOrderList {
    margin-top: -80px;
}