.mainForgotPassPage {
    width: 480px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-top: 180px;
}

.title {
    text-align: center;
}

.wrapperButton {
    width: 196px;
    height: 56px;
    margin: 0 auto;
}

.wrapperText {
    display: flex;
    justify-content: center;
}

.linkLogin {
    color: #4C4CFF;
    text-decoration: none;
}