.cardsBurgerIngredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
}

.subtitle {
    grid-column: 1/-1;
}

.link{
    text-decoration: none;
    position: relative;
    display: grid;
    justify-items: center;
}

.cardWrapper {
    text-decoration: none;
    position: relative;
    display: grid;
    justify-items: center;
}

@media (max-width: 500px){
    .cardsBurgerIngredients {
        column-gap: 16px;
        row-gap: 12px;
    }

    .subtitle {
        margin-top: 20px;
        margin-bottom: 16px;
        width: 100%;
    }
}