.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    max-height: 718px;
    margin: auto;
    z-index: 100;
    background: #1C1C21;
    border-radius: 40px;
}

.headerModal {
    width: 640px;
    height: 64px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.title {
    width: 580px;
}

.titleNum{
    width: 620px;
}

.closeButtonIcon {
    position: absolute;
    right: 0;
    padding: 0;
    border: none;
    background-color: #1C1C21;
    cursor: pointer;
}

.contentModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .modalContainer {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #131316;
        border-radius:0;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    
    .headerModal {
        width: 100%;
        height: 64px;
        margin-top: 0;
        background: #131316;
    }
    
    .title {
        width: 100%;
        margin-left: 5vw;
    }
    
    .titleNum{
        width: 272px;
    }

    .closeButtonIcon {
        margin-right: 11px;
        background: #131316;
    }

    .bgModalForMenu {
        background: #1C1C21;
    }
}