.main {
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:500px) {
    .main {
        max-width: 500px;
        display: block;
    }

    .containerConstructor{
        display: none;
    }
}