.App {
  background: #131316;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

.Main {
  max-width: 1240px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0 auto;
}
