.contentModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.descriptionName {
    width: 640px;
    text-align: start;
}

.description {
    width: 640px;
    text-align: start;
}

.greenSpan {
    color: #00CCCC;
}

.wrapList {
    width: 640px;
    height: 236px;
    margin-bottom: 40px;
    margin-top: 24px;
    overflow-y: auto;
}

.wrapList::-webkit-scrollbar {
    width: 8px;
}

.wrapList::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #8585AD;
    border-radius: 6px;
    border: 1px solid #2F2F37;
}

.wrapList::-webkit-scrollbar-track {
    background: #2F2F37;
    margin-bottom: 3em;
    border-radius: 6px;
}

.ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    margin-right: 24px;
}

.itemList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    height: 64px;
}

.imgWrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    border-radius: 100%;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
}

.imgBack {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #131316;
    box-sizing: border-box;
    border-radius: 100%;
    width: calc(62px - 2%);
    height: calc(62px - 2%);
}

.descriptionIngredName {
    text-align: start;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

.wrappPrice {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 292px;
}

.wrappPrice > svg {
    width: 22px;
    height: 22px;
    margin-left: 9px;
}

.wrappSumOrderandDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
}